             <style>.head {
             padding: 10px;
         }
         
         .body {
             background-color: bisque;
         }
         
         .mobile {
             visibility: hidden;
             width: 0px;
             height: 0px;
         }
         
         .logo {
             margin-left: 40px;
             margin-top: 40px;
         }
         
         .icon {
             position: absolute;
         }
         
         .btn-one {
             margin-top: 40px;
             margin-right: 100px;
             float: right;
             border: none;
             border-radius: 25px;
             height: 40px;
             background-color: #13183f;
             color: white;
             width: 10%;
             cursor: pointer;
             transition: 0.15s;
         }
         
         .btn-one:hover {
             background: rgba(102, 108, 163, 1);
         }
         
         .grid-container2 {
             display: inline-block;
             grid-template-columns: auto;
             grid-template-rows: 1, 5vw;
             width: 450px;
             height: inherit;
             vertical-align: top;
             margin-top: 40px;
         }
         
         .image {
             display: inline;
             width: 50%;
             vertical-align: top;
         }
         
         .mobile {}
         
         .image-hero {
             width: 500px;
             float: right;
         }
         
         .grid-container {
             display: inline-grid;
             grid-template-columns: 1fr 1fr 1fr;
             margin-top: 40px;
             margin-right: 40px;
             margin-left: 40px;
             justify-content: space-between;
             align-content: center;
             grid-column-gap: 50px;
             grid-row-gap: 50px;
             padding: 15px;
         }
         
         .maxi {
             font-size: 56px;
             line: 70px;
             font-family: plus Jakarta Sans ExtraBold;
             margin-left: 40px;
             width: 420px;
             display: inline-block;
         }
         
         .our {
             font-size: 18px;
             line: 28px;
             font-family: plus Jakarta San ExtraBold;
             margin-left: 40px;
             width: 380px;
             display: inline-block;
         }
         
         .btn-two {
             border-radius: 25px;
             margin-left: 40px;
             color: white;
             height: 40px;
             width: 30%;
             background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
             margin-top: 20px;
             border: none;
             cursor: pointer;
         }
         
         .btn-two:hover {
             background: rgba(255, 167, 195, 1);
         }
         
         .header {
             margin-left: 40px;
         }
         
         .first {
             max-height: 300px;
             max-width: 300px;
             margin-top: 30px;
             margin-bottom: 10px;
         }
         
         .most {
             background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
             border-radius: 10px;
         }
         
         .one {
             background-color: rgb(255, 249, 249);
             border-radius: 10px;
         }
         
         .check {
             font-size: 32px;
             line: 32px;
             font-family: plus Jakarta San ExtraBold;
             color: white;
             margin-left: 20px;
         }
         
         .animation {
             font-size: 24px;
             line: 28px font-family: plus Jakarta San ExtraBold;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .learn {
             font-family: plus Jakarta San Meduim;
             font-size: 18px;
             font-weight: 500;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .get {
             font-family: plus Jakarta San;
             font-size: 18px;
             font-weight: 700;
             line-height: 28px;
             color: #F74780;
             vertical-align: top;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .design {
             font-size: 24px;
             line: 28px font-family: plus Jakarta San ExtraBold;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .create {
             font-family: plus Jakarta San Meduim;
             font-size: 18px;
             font-weight: 500;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .photo {
             font-size: 24px;
             line: 28px font-family: plus Jakarta San ExtraBold;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .explore {
             font-family: plus Jakarta San Meduim;
             font-size: 18px;
             font-weight: 500;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .start {
             font-family: plus Jakarta San;
             font-size: 18px;
             font-weight: 700;
             line-height: 28px;
             color: #F74780;
             margin-bottom: 10px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .photo {
             font-family: plus Jakarta San;
             font-size: 24px;
             font-weight: 700;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .crypto {
             font-size: 24px;
             line: 28px font-family: plus Jakarta San ExtraBold;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .all {
             font-family: plus Jakarta San Meduim;
             font-size: 18px;
             font-weight: 500;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .start {
             font-family: plus Jakarta San;
             font-size: 18px;
             font-weight: 700;
             line-height: 28px;
             color: #F74780;
             margin-bottom: 10px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .business {
             font-size: 24px;
             line: 28px font-family: plus Jakarta San ExtraBold;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .step {
             font-family: plus Jakarta San Meduim;
             font-size: 18px;
             font-weight: 500;
             line-height: 28px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .start {
             font-family: plus Jakarta San;
             font-size: 18px;
             font-weight: 700;
             line-height: 28px;
             color: #F74780;
             margin-top: 10px;
             margin-left: 20px;
             margin-right: 20px;
         }
         
         .skilled-foot {
             margin-left: 30px;
             margin-top: 10px;
             display: inline-block;
         }
         
         .btn-foot {
             border-radius: 25px;
             margin-top: 10px;
             margin-bottom: 5px;
             float: right;
             margin-right: 100px;
             height: 40px;
             width: 10%;
             background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
             color: white;
             border: none;
         }
         
         .btn-foot:hover {
             background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
         }
         
         .foot {
             background-color: #13183f;
             height: 60px;
             width: 2000;
             position: cover;
             margin-top: 30px;
         }
         
         @media only screen and (max-width: 768px) {
             .btn-one {
                 margin-top: 40px;
                 margin-right: 100px;
                 float: right;
                 border: none;
                 border-radius: 25px;
                 height: 40px;
                 background-color: #13183f;
                 color: white;
                 width: 15%;
                 cursor: pointer;
                 transition: 0.15s;
             }
             .mobile {
                 display: none;
             }
             .grid-container2 {
                 display: inline-block;
                 grid-template-columns: 1;
                 grid-template-rows: 1, 5vw;
                 width: 350px;
                 height: inherit;
                 vertical-align: top;
                 margin-top: 40px;
             }
             .maxi {
                 font-family: Plus Jakarta Sans;
                 font-size: 40px;
                 font-weight: 800;
                 line-height: 50px;
                 letter-spacing: 0px;
                 text-align: left;
                 width: 290px;
             }
             .our {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
                 width: 310px;
             }
             .image-hero {
                 width: 300px;
                 float: right;
                 vertical-align: top;
             }
             .grid-container {
                 display: inline-grid;
                 grid-template-columns: 1fr 1fr;
                 margin-top: 40px;
                 margin-right: 40px;
                 margin-left: 40px;
                 justify-content: space-between;
                 align-content: center;
                 grid-column-gap: 150px;
                 grid-row-gap: 50px;
             }
             .check {
                 font-family: Plus Jakarta Sans;
                 font-size: 24px;
                 font-weight: 800;
                 line-height: 32px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .out {
                 background-color: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
                 border-radius: 2px;
             }
             .animation {
                 font-family: Plus Jakarta Sans;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 25px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .learn {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .get {
                 font-family: Plus Jakarta Sans;
                 font-size: 18px;
                 font-weight: 700;
                 line-height: 28px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .design {
                 font-family: Plus Jakarta Sans;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 25px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .create {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .photo {
                 font-family: Plus Jakarta Sans;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 25px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .explore {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .crypto {
                 font-family: Plus Jakarta Sans;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 25px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .all {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .business {
                 font-family: Plus Jakarta Sans;
                 font-size: 20px;
                 font-weight: 800;
                 line-height: 25px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .step {
                 font-family: Plus Jakarta Sans;
                 font-size: 16px;
                 font-weight: 500;
                 line-height: 26px;
                 letter-spacing: 0px;
                 text-align: left;
             }
             .btn-foot {
                 border-radius: 25px;
                 margin-top: 10px;
                 margin-bottom: 5px;
                 float: right;
                 margin-right: 100px;
                 height: 40px;
                 width: 15%;
                 background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
                 color: white;
                 border: none;
             }
             @media screen and (max-width: 480px) {
                 .image-hero {
                     position: absolute;
                     visibility: hidden;
                     height: 0px;
                     width: 0px;
                 }
                 .mobile {
                     visibility: visible;
                     height: 100px;
                     width: 100px;
                 }
                 .btn-one {
                     margin-top: 40px;
                     margin-right: 20px;
                     float: right;
                     border: none;
                     border-radius: 25px;
                     height: 40px;
                     background-color: #13183f;
                     color: white;
                     width: 30%;
                     cursor: pointer;
                     transition: 0.15s;
                 }
                 .maxi {
                     font-family: Plus Jakarta Sans;
                     font-size: 40px;
                     font-weight: 800;
                     line-height: 50px;
                     letter-spacing: 0px;
                     text-align: left;
                 }
                 .our {
                     font-family: Plus Jakarta Sans;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 26px;
                     letter-spacing: 0px;
                     text-align: left;
                 }
                 .image-hero {
                     width: 200px;
                     border-radius: 50px;
                     float: left;
                     margin-left: 15px;
                     display: none;
                 }
                 .mobile {
                     display: show;
                     float: left;
                     margin-right: 20px;
                     position: center;
                 }
                 .grid-container {
                     display: inline-grid;
                     grid-template-columns: 1fr;
                     margin-top: 40px;
                     margin-right: 40px;
                     margin-left: 40px;
                     justify-content: space-between;
                     align-content: center;
                     grid-column-gap: 150px;
                     grid-row-gap: 50px;
                 }
                 .btn-foot {
                     border-radius: 25px;
                     margin-top: 10px;
                     margin-bottom: 5px;
                     float: right;
                     margin-right: 20px;
                     height: 40px;
                     width: 25%;
                     background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
                     color: white;
                     border: none;
                 }
             }
             </style>